@using Microsoft.AspNetCore.Identity
@using BeerOverflow.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Manage">Profile</a></li>
    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="DrankList">DrankList</a></li>
    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="WishLists">WishLists</a></li>
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ListUsers">Users</a></li>
    }
</ul>

