@{
    ViewData["Title"] = "Home Page";
}

@model BeerOverflow.Web.Models.HomeIndexViewModel


<body data-new-gr-c-s-check-loaded="14.980.0">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover">
            <h1 class="cover-heading" style="color:white">Beer Overflow</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a class="btn btn-lg btn-secondary" asp-controller="Beers" asp-action="Index">Learn more</a>
            </p>
        </main>

    </div>
</body>

@*ADD CARDS HERE*@


@*ADD FOOTER HERE*@