@model IEnumerable<CountryViewModel>
@{
    ViewData["Title"] = "List";
}


    <div class="container">

        <h1 class="cover-heading cursive-h1">Countries</h1>

        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            </div><br />
        }

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISO)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISO)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
